*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background-color: #080808;
}
.container{
    position:relative;
    width:256px;
    height: 256px;
    justify-content: center;
    display:flex;
    align-items: center;

}
.container span{
    position:absolute;
    left:0;
    width:32px;
    height: 6px;
    background: #2c68ad;
    border-radius:8px;
    transform-origin:128px;
    transform:scale(2.2) rotate(calc(var(--i)*(360deg/50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i)*(3s/50));

}
@keyframes animateBlink{
    0%{
        background:#0ef;
    }
    25%{
        background:#2c68ad;
    }
    50%{
        background:#2c68ad;
    }
}
.login-box{
    position:absolute;
    width: 400px;
   /* background:red;*/
    padding: auto;

}
.login-box form{
    width:100%;
    padding:0px 50px; 
}
h2{
    font-size:2em;
    color:#0ef;
    text-align: center;
}
.input-box{
    position: relative;
    margin: 25px;

}
.input-box input{
    width:100%;
    height: 50px;
    background: transparent;
    border: 2px solid #cdd1d6;
    outline: none;
    border-radius:30px;
    font-size:1em;
    color: #fff;
    padding:0 20px;
    transition: 0.5s ease;
}
.input-box input:focus,
.input-box:valid{
    border-color:rgb(44, 182, 192);
}
.input-box label{
    position:absolute;
    top:50%;
    left:20px;
    transform: translateY(-50%);
    font-size:1em;
    color:#eaebec;
    pointer-events:none;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: 1px;
    font-size:.8em;
    background-color: rgb(67, 92, 230);
    padding:0px 6px;
    color:rgb(17, 19, 19);
}

.btn{ 
    width:100%; 
    height: 45px;
    background:#0ef;
    border-color:rgb(255, 250, 250) ;
    border:none;
    outline:none;
    border-radius:40px;
    cursor:pointer;
    font-size:1em;
    color:#1f293a;
    font-weight: 700;
}